<!-- googleplex/templates/author_edit.html -->

{% extends "overlay.html" %}
{% block title %}{{ author.name }}{% endblock %}
{% block style %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/author.css">
  <link rel="stylesheet" href="/styles/main.css">
{% endblock %}
{% block content %}
  <div class='individual_flex'>
    <form method="post">
        <label class="form_label">
            Name:
            <input type="text" name="name" value="{{author.name}}"><br>
        </label>
        <label class="form_label">
            Birth Date (MM/DD/YYYY):
            <input type="text" name="birth_date" value="{% if author.birth_date %}{{author.birth_date | submission_datetime_fmt}}{% else %}{% endif %}"><br>
        </label>
        <label class="form_label">
            Death Date (MM/DD/YYYY):
            <input type="text" name="death_date" value="{% if author.death_date %}{{author.death_date | submission_datetime_fmt}}{% else %}{% endif %}"><br>
        </label>
        <label class="form_label">
            Ethnicity:
            <input type="text" name="ethnicity" value="{% if author.ethnicity %}{{author.ethnicity}}{% else %}{% endif %}"><br>
        </label>
        <label class="form_label">
            <input type="submit" value="Update Entry">
        </label>
    </form>
      <!-- <h1>{{ author.name }}</h1>
      <p>Birth date: {% if author.birth_date %}{{ author.birth_date | datetime_fmt }}{% else %}unknown{% endif %},
          Deceased: {% if author.death_date %}{{ author.death_date | datetime_fmt }}{% else %}unknown{% endif %}
          {%- if author.age -%}, Age: {{ author.age }}{% endif %}</p>
      {% if author.ethnicity %}<p>Ethnicity: {{ author.ethnicity }}</p>{% endif %}
      <h3>Books by this Author</h3>
      <tbody>
      {%- for book in author.books -%}
        <tr>
          <td>{{ loop.index }}:</td>
          <td>
              <a href="/book?title={{ book.title }}&id={{ book.id }}">{{ book.title }}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody> -->

  </div>
  <!-- About the author section? -->
{% endblock %}
