<!-- googleplex/templates/author.html -->

{% extends "overlay.html" %}
{% block title %}{{ author.name }}{% endblock %}
{% block style %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/author.css">
  <link rel="stylesheet" href="/styles/main.css">
{% endblock %}
{% block content %}
  <div class='individual_flex'>
      <h1>{{ author.name }}</h1>
      <p>Birth date: {% if author.birth_date %}{{ author.birth_date | datetime_fmt }}{% else %}unknown{% endif %},
          Deceased: {% if author.death_date %}{{ author.death_date | datetime_fmt }}{% else %}unknown{% endif %}
          {%- if author.age -%}, Age: {{ author.age }}{% endif %}</p>
      {% if author.ethnicity %}<p>Ethnicity: {{ author.ethnicity }}</p>{% endif %}
      <h3>Books by this Author</h3>
      <tbody>
      {%- for book in author.books -%}
        <tr>
          <td>{{ loop.index }}:</td>
          <td>
              <a href="/book?title={{ book.title }}&id={{ book.id }}">{{ book.title }}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>

  </div>
  <!-- About the author section? -->
{% endblock %}
