<!-- googleplex/templates/author.html -->

{% extends "overlay.html" %}
{% block title %}{{ author.name }}{% endblock %}
{% block style %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/author.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/author.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/TableExport/3.2.5/css/tableexport.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.12.6/xlsx.core.min.js"></script>
  <script src="xlsx.core.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/3.3.5/js/tableexport.min.js"></script>

  <script type="text/javascript">
$(document).ready(function(){
 function ExportTable(){
     $('table').tableExport({
       headings: true,
       footers: false,
       formats: ["xlsx"],    // (String[]), filetypes for the export
       fileName: "id",                    // (id, String), filename for the downloaded file
       bootstrap: true,                   // (Boolean), style buttons using bootstrap
       position: "top" ,                // (top, bottom), position of the caption element relative to table
       ignoreRows: null,                  // (Number, Number[]), row indices to exclude from the exported file
       ignoreCols: null,                 // (Number, Number[]), column indices to exclude from the exported file
       ignoreCSS: ".tableexport-ignore"   // (selector, selector[]), selector(s) to exclude from the exported file
     });


   }
   ExportTable();
});
</script>
{% endblock %}
{% block content %}
  <div class='individual_flex'>
      <h1>{{ author.name }}</h1>
      <p>Birth date: {% if author.birth_date %}{{ author.birth_date | datetime_fmt }}{% else %}unknown{% endif %},
          Deceased: {% if author.death_date %}{{ author.death_date | datetime_fmt }}{% else %}unknown{% endif %}
          {%- if author.age -%}, Age: {{ author.age }}{% endif %}</p>
      {% if author.ethnicity %}<p>Ethnicity: {{ author.ethnicity }}</p>{% endif %}
      <h3>Books by this Author</h3>

      <div id="tablestuff">
      <table id="{{ author.name }}">
          <thead valign="top" style="display:none">
              <th>Birth date: {% if author.birth_date %}{{ author.birth_date | datetime_fmt }}{% else %}unknown{% endif %}</th>
              <th>Deceased: {% if author.death_date %}{{ author.death_date | datetime_fmt }}{% else %}unknown{% endif %}
          {%- if author.age -%}</th>
              <th>Age: {{ author.age }}{% endif %}</th>
              {% if author.ethnicity %}<th>Ethnicity: {{ author.ethnicity }}</th>{% endif %}

          </thead>
          <thead valign="top">
              <th>Number</th>
              <th>Books</th>

          </thead>
          <tbody>
          {%- for book in author.books -%}
            <tr>
              <td>{{ loop.index }}</td>
              <td>
                  <a href="/book?title={{ book.title }}&id={{ book.id }}">{{ book.title }}</a>
              </td>
            </tr>

          {% endfor %}
          </tbody>
      </table>
      </div>
      <br><br>
      <a href="/author_edit?name={{ author.name }}">
          Edit
      </edit>
  </div>
  <!-- About the author section? -->
{% endblock %}
