<!-- googleplex/templates/book.html -->

{% extends "overlay.html" %}
{% block title %}{{ bestseller.title }}{% endblock %}
{% block style %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/TableExport/3.2.5/css/tableexport.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/author.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/author.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.12.10/xlsx.core.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.0.0/js/tableexport.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function(){
    TableExport(document.getElementsByTagName("table"), {
      headers: true,                              // (Boolean), display table headers (th or td elements) in the <thead>, (default: true)
      footers: true,                              // (Boolean), display table footers (th or td elements) in the <tfoot>, (default: false)
      formats: ['xlsx', 'csv', 'txt'],            // (String[]), filetype(s) for the export, (default: ['xlsx', 'csv', 'txt'])
      filename: 'id',                             // (id, String), filename for the downloaded file, (default: 'id')
      bootstrap: false,                           // (Boolean), style buttons using bootstrap, (default: true)
      exportButtons: true,                        // (Boolean), automatically generate the built-in export buttons for each of the specified formats (default: true)
      position: 'bottom',                         // (top, bottom), position of the caption element relative to table, (default: 'bottom')
      ignoreRows: null,                           // (Number, Number[]), row indices to exclude from the exported file(s) (default: null)
      ignoreCols: null,                           // (Number, Number[]), column indices to exclude from the exported file(s) (default: null)
      trimWhitespace: true                        // (Boolean), remove all leading/trailing newlines, spaces, and tabs from cell text in the exported file(s) (default: false)
  });
  });
  </script>

{% endblock %}
{% block content %}
  <div class='individual_flex'>
      <h1>{{ bestseller.title }}</h1>
      {% if bestseller.author %}
      By <a href='/author?name={{ bestseller.author.name }}'>{{ bestseller.author.name }}</a>
      {% else %}
      <a>Unknown author</a>
      {% endif %}
      <br>
      {% if bestseller.authored_date %}
      Published {{bestseller.authored_date | datetime_fmt}}
      {% endif %}
      {% if bestseller.description %}<p>{{ bestseller.description }}</p> {% endif %}


      <div id="tablestuff">
        <table id="{{ bestseller.title }}">
          <thead valign="top" style="display:none">

              <th>Author:{% if bestseller.author %} {{ bestseller.author.name }}{% else %} Unknown{% endif %}</th>
              <th>Published: {% if bestseller.authored_date %}{{bestseller.authored_date | datetime_fmt}}{% else %}No Date{% endif %}</th>


          </thead>
          <thead valign="top">
            <th>Number</th>
            <th>List</th>
          </thead>
          <tbody>
            {%- for list in bestseller.get_lists_with_this_bestseller() -%}
            <tr>
              <td>{{ loop.index }}</td>
              <td>
              <a href="/list?title={{ list.title }}&id={{ list.id }}">{{ list.title }}</a>
              </td>
            {% endfor %}
          </tr>
          </tbody>

        </table>
        </div>
          <br>


          <br>
  <a href="/book_edit?title={{ bestseller.title }}&id={{ bestseller.id }}">Edit</a>

  </div>

  <!-- About the author section? -->
{% endblock %}
