<!-- googleplex/templates/book_edit.html -->

{% extends "overlay.html" %}
{% block title %}{{ bestseller.title }}{% endblock %}
{% block style %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/author.css">
  <link rel="stylesheet" href="/styles/main.css">
{% endblock %}
{% block content %}
  <div class='individual_flex'>
      <form method="post">
          Title:</br>
          <input type="text" name="title" value="{{bestseller.title}}"></br>
          Author:</br>
          <input type="text" name="author" value="{{bestseller.author.name}}"></br>
          Description:</br>
          <input type="text" name="description" value="{{bestseller.description if bestseller.description else ''}}" placeholder=""></br>
          <input type="submit" value="Update Entry">
      </form>
      <!-- <h1>{{ bestseller.title }}</h1>
      {% if bestseller.author %}
      By <a href='/author?name={{ bestseller.author.name }}'>{{ bestseller.author.name }}</a>
      {% else %}
      <a>Unknown author</a>
      {% endif %}
      {% if bestseller.description %}<p>{{ bestseller.description }}</p> {% endif %}
      <h3>Lists containing this Bestseller</h3>
      <tbody>
      {%- for list in bestseller.get_lists_with_this_bestseller() -%}
        <tr>
          <td>{{ loop.index }}:</td>
          <td>
              <a href="/list?title={{ list.title }}&id={{ list.id }}">{{ list.title }}</a>
          </td>
        </tr>
        <br>
      {% endfor %}
      </tbody> -->
  </div>
  <!-- About the author section? -->
{% endblock %}
