<!-- googleplex/templates/book.html -->

{% extends "overlay.html" %}
{% block title %}{{ bestseller.title }}{% endblock %}
{% block style %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/author.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/book.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/TableExport/3.2.5/css/tableexport.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.12.6/xlsx.core.min.js"></script>
  <script src="xlsx.core.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/3.3.5/js/tableexport.min.js"></script>

  <script type="text/javascript">
$(document).ready(function(){
 function ExportTable(){
     $('table').tableExport({
       headings: true,
       footers: false,
       formats: ["xlsx"],    // (String[]), filetypes for the export
       fileName: "id",                    // (id, String), filename for the downloaded file
       bootstrap: true,                   // (Boolean), style buttons using bootstrap
       position: "top" ,                // (top, bottom), position of the caption element relative to table
       ignoreRows: null,                  // (Number, Number[]), row indices to exclude from the exported file
       ignoreCols: null,                 // (Number, Number[]), column indices to exclude from the exported file
       ignoreCSS: ".tableexport-ignore"   // (selector, selector[]), selector(s) to exclude from the exported file
     });


   }
   ExportTable();
});
</script>

{% endblock %}
{% block content %}
  <div class='individual_flex'>
      <h1>{{ bestseller.title }}</h1>
      {% if bestseller.author %}
      By <a href='/author?name={{ bestseller.author.name }}'>{{ bestseller.author.name }}</a>
      {% else %}
      <a>Unknown author</a>
      {% endif %}
      <br>
      {% if bestseller.authored_date %}
      Published {{bestseller.authored_date | datetime_fmt}}
      {% endif %}
      {% if bestseller.description %}<p>{{ bestseller.description }}</p> {% endif %}


      <div id="tablestuff">
        <table id="{{ bestseller.title }}">
          <thead valign="top">
            <th>#</th>
            <th>List</th>
          </thead>
          <tbody>
            {%- for list in bestseller.get_lists_with_this_bestseller() -%}
            <tr>
              <td>{{ loop.index }}:</td>
              <td>
              <a href="/list?title={{ list.title }}&id={{ list.id }}">{{ list.title }}</a>
              </td>
            {% endfor %}
          </tr>
          </tbody>

        </table>
        </div>
          <br>


          <br>
  <a href="/book_edit?title={{ bestseller.title }}&id={{ bestseller.id }}">Edit</a>

  </div>

  <!-- About the author section? -->
{% endblock %}
