<!-- googleplex/templates/faq.html -->

{% extends "overlay.html" %}
{% block title %}FAQ{% endblock %}
{% block style %}
  <!-- <link rel="stylesheet" href="/styles/profile.css"> -->
{% endblock %}
{% block scripts %}
  <script src="/scripts/scrypt-async.min.js"></script>
{% endblock %}
{% block content %}

<h2>FAQ: Frequently Asked Questions</h2>

<ol>
    <li> What is the purpose of this site?</li>
        <br>This website is like a search engine for bestseller lists, and the books and authors on the lists.
        <br><br>
    <li> What can I do on this site?</li>
        <br>You can:
        <ul>
            <li> Upload bestseller lists to our database </li>
            <li> Search for bestseller lists, authors and books. </li>
            <li> Filter lists and books by tags such as genres and dates.</li>
            <li> Filter authors by ethnicity, gender etc.</li>
            <li> Download these lists of books, authors and bestsellers to do further data analysis</li>
        </ul><br>

    <li> Do I need an account to use this site?</li>
        <br> You do not need an account to search for lists and download them but you will need an account to submit a list.<br><br>

    <li> How do I register for an account?</li>
        <br> In the top right corner of the page, there is a Log In button. After clicking, you will see an oprtion to register if you do not already have an account.<br><br>
    <li> How do I search for a list/author/bestseller?</li>
        <br> In the search bar either at the top of the page or on the center of the main page, type the name of a list, book or author. You will be able to specify which of those three things you are searching for by making a selection using the drop down menu beside the search bar.<br><br>
    <li> How do I add a list/author/bestseller?</li>
        <br>First, you will need to register for an account. Then in the top right corner of the webpage, click on Submit a List. Then you will need to select what method you'd like to upload a list as: File, Image or Manually. Follow the rest of the instructions provided on that page.<br><br>
    <li> I've been banned, what do I do?</li>
        <br> You will have to email us to plead your case. You can email us at <a href="#">bestsellerarchive@gmail.com.</a><br><br>
</ol>

<p>If you have any questions not answered in the FAQ please feel free to email us at <a href="#">bestsellerarchive@gmail.com</a>.</p>
{% endblock %}