<!-- googleplex/templates/faq.html -->

{% extends "overlay.html" %}
{% block title %}FAQ{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
    .faq_accordion {

      border-radius: 10px;
      width: 700px;
      margin: 50px auto;
      padding: 30px;

    }
</style>
{% endblock %}
{% block scripts %}
  <script src="/scripts/scrypt-async.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}


<div class="faq_accordion">
<center>
    <h2>FAQ: Frequently Asked Questions</h2><br><br>
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is the purpose of this site?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        This website is like a search engine for bestseller lists, and the books and authors on the lists.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What can I do on this site?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <ul align="left">
            <li> Upload bestseller lists to our database </li>
            <li> Search for bestseller lists, authors and books. </li>
            <li> Filter lists and books by tags such as genres and dates.</li>
            <li> Filter authors by ethnicity, gender etc.</li>
            <li> Download these lists of books, authors and bestsellers to do further data analysis</li>
        </ul>
      </div>
    </div>
  </div>
   <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Do I need an account to use this site?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        You do not need an account to search for lists and download them but you will need an account to submit a list.
      </div>
    </div>
  </div>
   <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
           How do I register for an account?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        In the top right corner of the page, there is a Log In button. After clicking, you will see an oprtion to register if you do not already have an account.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          How do I search for a list/author/bestseller?
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        In the search bar either at the top of the page or on the center of the main page, type the name of a list, book or author. You will be able to specify which of those three things you are searching for by making a selection using the drop down menu beside the search bar.
      </div>
    </div>
  </div>
   <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        How do I add a list/author/bestseller?
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        First, you will need to register for an account. Then in the top right corner of the webpage, click on Submit a List. Then you will need to select what method you'd like to upload a list as: File, Image or Manually. Follow the rest of the instructions provided on that page.
      </div>
    </div>
  </div>

  <div class="card">

    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          I've been banned, what do I do?
        </button>
      </h5>
    </div>

    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">

      <div class="card-body">
        You will have to contact us to plead your case.
      </div>

    </div>

  </div>

  <div class="card">

    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          How can I contact the Bestseller Archive Team?
        </button>
      </h5>
    </div>

    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">

      <div class="card-body">
        If you need to contact us about a banned account, or if you have any other questions not answered in the FAQ please feel free to email us at <a href="#">bestsellerarchive@gmail.com</a>.
      </div>

    </div>

  </div>


</div>
</center>
</div>
<br><br>








{% endblock %}