<!-- googleplex/templates/faq.html -->

{% extends "overlay.html" %}
{% block title %}FAQ{% endblock %}
{% block style %}
  <!-- <link rel="stylesheet" href="/styles/profile.css"> -->
{% endblock %}
{% block scripts %}
  <script src="/scripts/scrypt-async.min.js"></script>
{% endblock %}
{% block content %}

<h2>FAQ: Frequently Asked Questions</h2>

<ol>
    <li> What is the purpose of this site?</li>
    <li> What can I do on this site?</li>
    <li> Do I need an account to use this site?</li>
    <li> How do I register for an account?</li>
    <li> How do I search for a list/author/bestseller?</li>
    <li> How do I add a list/author/bestseller?</li>
    <li> I've been banned, what do I do?</li>
</ol>
{% endblock %}