<!DOCTYPE html>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="style.css">

<html>
  <body>
      <div class="w3-bar w3-black"> <!-- header bar -->
        <a href="profile.html" class="w3-bar-item w3-button w3-right w3-padding-16">Profile</a>
        <a href="submit.html" class="w3-bar-item w3-button w3-right w3-padding-16">Submit a List</a>
      </div>
      <center class="search">
        <font size=6 style="padding: 10px;">Bestseller List Tracker</font>
        <div style="display: inline-flex;">
          <input class="search_bar" type="text" size="40" name="search">
          <input type="button" class="search_button">
        </div>
      </center>
  </body>
</html>
