{% extends "overlay.html" %}
{% block title %}Home{% endblock %}
{% block style %}
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">
{% endblock %}
{% block scripts %}
  <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src= "scripts/index.js"></script>
{% endblock %}
{% block header %}
  <div id="header" class="w3-bar w3-black"> <!-- header bar -->
    <a href="submit" class="w3-bar-item w3-button w3-right w3-padding-16">Submit a List</a>
    {% if user %}
    <a href="profile" class="w3-bar-item w3-button w3-right w3-padding-16">Profile</a>
    <a href="logout" class="w3-bar-item w3-button w3-right w3-padding-16">Log Out</a>
    {% else %}
    <a href="login" class="w3-bar-item w3-button w3-right w3-padding-16">Log In</a>
    {% endif %}
  </div>
{% endblock %}
{% block content %}
  <input type="hidden" id="data" value="{{results}}">value="{{results}}"
  <center class="search">
    <font size=8 style="padding: 10px;">Bestseller List Tracker</font>
    <div style="display: inline-flex;">
      <form action="/results" method="get">
        <input id="search" class="search_bar" type="text" size="40" name="search" placeholder="Search for lists">
        <select name="type" class="search_dropdown">
          <option value="list">Lists</option>
          <option value="book">Books</option>
          <option value="author">Authors</option>
        </select>
        <input type="submit" class="search_button" value="Search">
      </form>
    </div>
  </center>
{% endblock %}
