<!DOCTYPE html>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="style.css">

<html>
  <body>
      <div class="w3-bar w3-black"> <!-- header bar -->
        <a href="index.html" class="w3-bar-item w3-button w3-left w3-hover-none w3-hover-text-white">Bestseller List Tracker</a>
        <a href="profile.html" class="w3-bar-item w3-button w3-right">Profile</a>
        <a href="submit.html" class="w3-bar-item w3-button w3-right">Submit a List</a>
      </div>
      <center class="search">
        <input class="search_bar" type="text" size="40" name="search">
        <input type="button" class="search_button">
      </center>
  </body>
</html>
