<!-- googleplex/templates/list.html -->

{% extends "overlay.html" %}
{% block title %}{{title}}{% endblock %}
{% block style %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/author.css">
  <link rel="stylesheet" href="/styles/main.css">
{% endblock %}
{% block content %}
  <div class='individual_flex'>
      <h1>{{ list.title }}</h1>
      <p>Contributed on {{ list.submission_date | datetime_fmt }} by {{ list.contributor.full_name | default('[deleted]') }}</p>
      {% if list.author %}<p>Author: <a href='/author?name={{ list.author.name }}'>{{ list.author.name }}</a></p>{% endif %}
      {% if list.author or list.author_date %}Originally authored {% if authored_date %}on {{ list.author_date }}
      {% endif %}{% if list.author %}by {{ list.author.date }}{% endif %}{% endif %}
      {% if list.description %}<p>{{ list.description }}</p> {% endif %}
      <h3>Books on this List</h3>
      <tbody>
      {%- for book in list.bestsellers -%}
        <tr>
          <td>{{ loop.index }}:</td>
          <td>
              <a href="/book?title={{ book.title }}&id={{ book.id }}">{{ book.title }}</a>
          </td>
          <br>
        </tr>
      {% endfor %}
      </tbody>

      <a href="/list_edit?title={{ list.title }}&id={{ list.id }}">
        Edit
      </a>

  </div>
{% endblock %}
