<!-- googleplex/templates/login.html -->

{% extends "overlay.html" %}
{% block title %}Log In{% endblock %}
{% block style %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- <link rel="stylesheet" href="static/styles/profile.css"> -->
<style>
  .login_box {
    display: inline;
    margin-top: 60px;
    font: "Roboto";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    background-color: #dadada;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    height: 500px;
}

 form {
    width: 80%;
    margin: 0 auto;
    }

    label, input {
        /* in order to define widths */
        display: inline-block;
    }

    label {
         width: 30%;
        /* positions the label text beside the input */
        text-align: right;
    }

    label + input {
        width: 30%;
        /* large margin-right to force the next element to the new-line
        and margin-left to create a gutter between the label and input */
        margin: 0 30% 0 4%;
    }


</style>
{% endblock %}

{% block content %}
  <!-- Submission box-->
  <div id="login">
    <center class="login_box" id="submissionBox">
      <h2> Log In </h2>
      <form action="/login" method="POST">
          Email:
          <input type="text" align="right" name="email">
      <br><br><br>
          Password:
          <input type="password" align="right" name="pass_hash">
      <br><br>
          <input type="submit" align="right" value="Log In">
      <br><br>
          <input type="checkbox" align="right" name="remember" value="remember"> Remember me
      </form>

      <br>
      <a href="#">Forgot your username or password?</a><br>
      <a href="#" onclick="location.href='registration'">Don't have an account? Sign up here.</a>
    </center>


  </div>
{% endblock %}
