<!-- googleplex/templates/login.html -->

{% extends "overlay.html" %}
{% block title %}Log In{% endblock %}
{% block style %}
  <link rel="stylesheet" href="/styles/login.css">
{% endblock %}
{% block scripts %}
  <script src="/scripts/scrypt-async.min.js"></script>
  <script src="/scripts/login.js"></script>
{% endblock %}
{% block content %}
  <!-- Submission box-->
  <div id="login">
    <center class="login_box" id="submissionBox">
      <h2> Log In </h2>
      <form id="login-form" onsubmit="submit_login();" action="/login" method="post">
          Email:
          <input type="email" align="right" name="email" id="email">
          <br><br><br>
          Password:
          <input type="password" align="right" id="password">
          <input type="text" align="right" name="pass_hash" id="pass_hash" hidden>
          <br><br>
          <input type="submit" align="right" value="Log In">
          <br><br>
          <input type="checkbox" align="right" name="remember" value="remember"> Remember me
      </form>
      {% if flash %}
      <a style="color:red;">{{ flash }}</a>
      {% endif %}
      <br>
      <a href="/password_reset">Forgot your username or password?</a><br>
      <a href="/registration">Don't have an account? Sign up here.</a>
    </center>
  </div>
{% endblock %}
