<!-- googleplex/templates/manual_submit.html -->

{% extends "overlay.html" %}
{% block title %}Manual Submit{% endblock %}
{% block style %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{% block scripts %}
  <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
  <script src="/scripts/manual_submit.js"></script>
    
{% endblock %}
{% block content %}
  <div>
    <table id="list" style="width:100%">
      <tr>
        <span class="col-lg-4" style="text-align:left; font-size:24px">List Title: </span>
        <input type="text" id="listTitle" placeholder="">
      </tr>
      <tr>
        <td>Book detail: </td>
        <td>
          <table style="width:80%">
            <tr>
              <td>
                <span class="col-lg-3" style="text-align:left">Title: </span>
                <input type="text" id="bookTitle1">
              </td>
            </tr>
            <tr>
              <td>
                <span class="col-lg-4" style="text-align:left">Author: </span>
                <input type="text" id="author1">
              </td>
            </tr>
            <tr>
              <td>
                <span class="col-lg-4" style="text-align:left">Year Published: </span>
                <input type="text" id="yearPublished1">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <button id="load">Add new book +</button>
  <button id="preview" onclick="location.href='preview'">Preview List</button>
{% endblock %}
