<!-- googleplex/templates/password_reset.html -->

{% extends "overlay.html" %}
{% block title %}Password Reset{% endblock %}
{% block style %}
  <!-- <link rel="stylesheet" href="/styles/login.css"> -->
{% endblock %}
{% block scripts %}
  <script src="/scripts/scrypt-async.min.js"></script>
  <script src="/scripts/password_reset.js"></script>
{% endblock %}
{% block content %}
  <!-- Submission box-->
  <div id="login">
    <center class="login_box" id="submissionBox">
      <h2> Password Reset </h2>
      {% if flash %}
      <a style="color:red;">{{ flash }}</a>
      {% endif %}
      <form id="password-reset-form" onsubmit="return submit_reset()" action="/password_reset" method="post">
          Email:
          <input type="email" align="right" name="email" id="email">
          <a style="color:red;display:none;" id="email-error"></a>
          <br><br>
          <input type="submit" align="right" value="Reset Password">
      </form>

      <br>
      <a href="/login">Back to login</a>
    </center>
  </div>
{% endblock %}
<!-- login#sent -->