<!-- googleplex/templates/password_reset.html -->

{% extends "overlay.html" %}
{% block title %}Password Reset{% endblock %}
{% block style %}
  <!-- <link rel="stylesheet" href="/styles/login.css"> -->
{% endblock %}
{% block scripts %}
  <script src="/scripts/scrypt-async.min.js"></script>
  <script src="/scripts/password_reset.js"></script>
{% endblock %}
{% block content %}
  <!-- Submission box-->
  <div id="reset">
    <center class="login_box" id="submissionBox">
      <h2> Password Reset </h2>
      {% if flash %}
      <a style="color:red;">{{ flash }}</a>
      {% endif %}
      {% if link %}
      <form id="password-reset-form" onsubmit="return submit_reset()" action="/password_reset" method="post">
          <label for="new_pass_1">New Password:</label>
          <input type="password" align="right" id="new_pass_1" pattern="^\S{8,12}$" required>
          <label for="new_pass_2">Confirm Password:</label>
          <input type="password" align="right" id="new_pass_2" required oninput="validate(this)">
          <input type="password" align="right" name="new_pass_hash" id="new_pass_hash" hidden>
          <input type="text" value="{{ link.user.email }}" id="user_email" hidden>
          <input type="text" value="{{ link.link }}" name="link" hidden>
          <br><br>
          <input type="submit" align="right" value="Reset Password">
      </form>
      {% else %}
      <form id="request-reset-form" onsubmit="return request_reset()" action="/password_reset" method="post">
          Email:
          <input type="email" align="right" name="email" id="email">
          <a style="color:red;display:none;" id="email-error"></a>
          <br><br>
          <input type="submit" align="right" value="Reset Password">
      </form>
      <br>
      <a href="/login">Back to login</a>
      {% endif %}
    </center>
  </div>
{% endblock %}
<!-- login#sent -->
