<!-- googleplex/templates/preview.html -->

{% extends "overlay.html" %}
{% block title %}Preview List{% endblock %}
{% block style %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- TODO: move css file to separate dir -->
  <!-- <link rel="stylesheet" href="static/styles/main.css"> -->
  <!-- link to font-awesome for icons in the future -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block content %}
  <div class = "container">
    <div class = "row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  <span class="col-lg-12" style="text-align:center; font-size:25px"> List Preview </span>
                </th>
              </tr>
              <tr>
                <th>
                  <!-- Added space in front to align with other headers -->
                  <span class="col-lg-4" style="align-items:center;">&nbsp;&nbsp;List Title : Weird, Odd List</span>
                  <a class = "btn btn-default">
                    <i class="fa fa-plus"></i>&nbsp;Tag
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <span class="col-lg-4" style="align-items:center;">Book Title : Weird Days</span>
                  <a class = "btn btn-default">
                    <i class="fa fa-plus"></i>&nbsp;Tag
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <span class="col-lg-4" style="align-items:center;">Book Title : Creepy Days</span>
                  <a class = "btn btn-default">
                    <i class="fa fa-plus"></i>&nbsp;Tag
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <span class="col-lg-4" style="align-items:center;">Book Title : Slightly Off Days</span>
                  <a class = "btn btn-default">
                    <i class="fa fa-plus"></i>&nbsp;Tag
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <span class="col-lg-4" style="align-items:center;">Book Title : Invisible Days</span>
                  <a class = "btn btn-default">
                    <i class="fa fa-plus"></i>&nbsp;Tag
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <a class="btn btn-success" onclick="location.href='results'">
                    <i class="fa fa-upload"></i>&nbsp;Upload
                  </a>
                  <a class="btn btn-danger" onclick="location.href='/'">
                  <i class="fa fa-arrow-left"></i>&nbsp;Cancel
                  </a>
                </th>
              </tr>
            </thead>
          </table>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
