<!-- googleplex/templates/profile.html -->

{% extends "overlay.html" %}
{% block title %}Profile{% endblock %}
{% block style %}
  <link rel="stylesheet" href="/styles/profile.css">
{% endblock %}
{% block content %}
<div class='flex-container main_flex'>
  <div class="left_child">
      <div class="profile_box">
          <center><b>User Information</b></center>
        <table cellpadding=10px>
          <tr>
            <td>
              <font size="2">Name:<br/></font>
              {{user.first_name}} {{user.last_name}} <br/>
              <font size="2">E-mail:<br/></font>
              {{user.email}}
            </td>
          </tr>
        </table>
      </div>
  </div>
  <div class="right_child">
      <div class="activity_page">
        <center><b>Submitted Lists</b></center>
        <div class="w3-bar-block w3-transparent">
            {%- for list in user.submittedLists -%}
            <div class="w3-bar-item w3-hover-black"><a href="/list?title={{list.title}}&id={{list.id}}">{{list.title}}</div>
          {% endfor %}
        </div>
      </div>
  </div>
</div>

{% endblock %}
