<!-- googleplex/templates/profile.html -->

{% extends "overlay.html" %}
{% block title %}Profile{% endblock %}
{% block style %}
  <link rel="stylesheet" href="/styles/profile.css">
{% endblock %}
{% block content %}
<div class='container center'>
  <div class="row">
    <div class="col">
      <font size="5"><center><b>User Information</b></center></font><br />
      <tr>
        <td>
          <font size="2" style="font-weight: bold;">Name:<br/></font>
          {{user.first_name}} {{user.last_name}} <br /><br />
          <font size="2" style="font-weight: bold;">E-mail:<br/></font>
          {{user.email}}
        </td>
      </tr>
    </div>
    <div class="col">
      <font size="5"><center><b>Submitted Lists</b></center></font><br />
        <div class="w3-bar-block w3-transparent">
          {%- for list in user.submittedLists -%}
            <div class="w3-bar-item w3-hover">
              <font size="3"><a href="/list?title={{list.title}}&id={{list.id}}" />{{list.title}}</font>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
</div>
{% endblock %}