<!-- googleplex/templates/registration.html -->

{% extends "overlay.html" %}
{% block title %}Log In{% endblock %}
{% block style %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- <link rel="stylesheet" href="static/styles/registration.css"> -->
  <link rel="stylesheet" href="/styles/registration.css">
{% endblock %}

{% block content %}
  <!-- Submission box-->
  <div id="login">
    <center  class="registration_box">
    <div class="container">
      <h2> Register an account </h2>
      <form action="/registration" method = "POST">

          <label text-align: right>Email:</label>
          <input type="text"  name="" value=""><br><br>

          <label text-align: right>First Name:</label>
          <input type="text"  name="" value=""><br><br>

          <label text-align: right>Last Name:</label>
          <input type="text" name="" value=""><br><br>

          <label text-align: right>Institution:</label>
          <input type="text" name="" value=""><br><br>

          <label text-align: right>Position:</label>
          <input type="text" name="" value=""><br><br>

          <label text-align: right>Password:</label>
          <input type="password" name=""><br><br>

          <input type="submit" value="Register">

      </form>

      <br><br>
      <a href="#" onclick="location.href='login'">Already have an account? Click here to log in.</a>
   </div>
    </center>

  </div>
{% endblock %}
