<!-- googleplex/templates/submit.html -->

{% extends "overlay.html" %}
{% block title %}Submit a List{% endblock %}
{% block style %}
  <link rel="stylesheet" href="/styles/submit.css">
{% endblock %}
{% block scripts %}
  <script src="/scripts/jquery-3.3.1.min.js"></script>
  <script src="/scripts/submit.js"></script>
{% endblock %}
{% block content %}
  <!-- Submission box-->
  <div id="submission">
    <center class="submission_box" id="submissionBox">
      <h4>Submission Method</h4><br><br><br><br>
      <button id="selectfile">File Upload</button><br>
      <button id="selectimage">Image Upload</button><br>
      <button onclick="location.href='/manual_submit'">Manual Upload</button>
    </center>
  </div>

  <!-- File Upload-->
  <div id="file">
    <center class="submission_box" id="submissionBox">
      <h4>File Upload</h4><br><br>
      <form id="file-upload-form" action="/submit?type=file" method="post" enctype="multipart/form-data">
        <label for="title">Title:</label><input type="text" id="file-upload-title" name="title"
          required oninvalid="this.setCustomValidity('Please enter a title.')"><br>
        <label for="author">Author:</label><input type="text" name="author"><br>
        <label for="authored_date">Authored Date:</label><input type="date" name="authored_date"><br>
        <label for="description">Description:</label><input type="text" name="description"><br>
        <label for="num_bestsellers">Number of Bestsellers:</label><input type="number" id="file-upload-num"
          name="num_bestsellers" required oninvalid="this.setCustomValidity('Please enter the number of bestsellers.')"><br>
        <label for="file">Select a File:</label><input type="file" id="file-upload-file" name="file"
          required oninvalid="this.setCustomValidity('Please attach a file.')"><br>
        <a href="#" class="previous round" id="prevfile">&#8249;</a>
        <input class="next round" type="submit" value="&#8250;"><br><br><br>
      </form>
    </center>
  </div>

  <!-- Image Upload-->
  <div id="image">
    <center class="submission_box" id="submissionBox">
      <h4>Image Upload</h4><br><br>
      <form id="image-upload-form" action="/submit?type=image" method="post" enctype="multipart/form-data">
        <label for="title">Title:</label><input type="text" name="title" required
          oninvalid="this.setCustomValidity('Please enter a title.')"><br>
        <label for="author">Author:</label><input type="text" name="author"><br>
        <label for="authored_date">Authored Date:</label><input type="date" name="authored_date"><br>
        <label for="description">Description:</label><input type="text" name="description"><br>
        <label for="num_bestsellers">Number of Bestsellers:</label><input type="number" name="num_bestsellers" required
          oninvalid="this.setCustomValidity('Please enter the number of bestsellers.')"><br>
        <label for="image">Select a File:</label><input type="file" id="image-upload-image" name="image" required
          oninvalid="this.setCustomValidity('Please attach an image.')"><br>
        <a href="#" class="previous round" id="prevfile">&#8249;</a>
        <input class="next round" type="submit" value="&#8250;"><br><br><br>
      </form>
    </center>
  </div>
{% endblock %}
