<!-- googleplex/templates/submit.html -->

{% extends "overlay.html" %}
{% block title %}Submit a List{% endblock %}
{% block style %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="static/styles/submit.css">
{% endblock %}
{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#file').hide();
      $('#image').hide();

      $("#selectfile").click(function() {
        $("#sumission").hide();
        $("#file").show();
      });

      $("#selectimage").click(function() {
        $("#submission").hide();
        $("#image").show();
      });

      $("#prevfile").click(function() {
        $("#submission").show();
        $("#file").hide();
      });

      $("#previmage").click(function() {
        $("#submission").show();
        $("#image").hide();
      });
    });
  </script>
{% endblock %}
{% block content %}
  <!-- Submission box-->
  <div id="submission">
    <center class="submission_box" id="submissionBox">
      <h4>Submission Method</h4><br><br><br><br>
      <button id="selectfile">File Upload</button><br>
      <button id="selectimage">Image Upload</button><br>
      <button>Manual Upload</button>
    </center>
  </div>

  <!-- File Upload-->
  <div id="file">
    <center class="submission_box" id="submissionBox">
      <h4>File Upload</h4><br><br>
      <p>Select a file:</p><input type="text" readonly><br><br>
      <button onclick="upload('submission')">Upload</button><br><br><br>
      <a href="#" class="previous round" id="prevfile">&#8249;</a>
      <a href="#" class="next round">&#8250;</a>
    </center>
  </div>

  <!-- Image Upload-->
  <div id="image">
    <center class="submission_box" id="submissionBox">
      <h4>Image Upload</h4><br><br>
      <p>Select an image:</p><input type="text" readonly><br><br>
      <button>Upload</button><br><br><br>
      <a href="#" class="previous round" id="previmage">&#8249;</a>
      <a href="#"class="next round">&#8250;</a>
    </center>
  </div>
{% endblock %}

<!-- function showhide(id){
  var x = document.getElementById(id);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }

  var z = document.getElementById("submission");
  if (z.style.display === "none") {
    z.style.display = "block";
  } else {
    z.style.display = "none";
  }
} -->
