.registration_box {
  display: inline;
  margin-top: 60px;
  font: "Roboto";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: auto;
  background-color: #dadada;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  height: 750px;
  }

  form {
  width: 80%;
  margin: 0 auto;
  }

  label, input {
      /* in order to define widths */
      display: inline-block;
  }

  label {
       width: 30%;
      /* positions the label text beside the input */
      text-align: right;
  }

  label + input {
      width: 30%;
      /* large margin-right to force the next element to the new-line
      and margin-left to create a gutter between the label and input */
      margin: 0 30% 0 4%;
  }
